.historical-data-page {
    font-family: Arial, sans-serif;
    padding: 40px;
    margin: 40px 180px;
}

.filter-section {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.visualization-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.charts-row {
    display: flex; /* Align charts in a row */
    justify-content: space-between; /* Space out the charts */
    margin: 20px 0; /* Space around the charts */
}

.chart-container {
    flex: 1; /* Allow each chart to take equal space */
    margin: 0 10px; /* Add margin between charts */
    max-width: 300px; /* Set max width for chart containers */
    max-height: 300px; /* Set max height for chart containers */
    position: relative; /* For positioning child elements if needed */
}

/* Centering the download button */
.csv-button {
    padding: 10px 20px;
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Make it a block element */
    margin: 100px auto; /* Center it horizontally */
}

/* Responsive styles */
@media (max-width: 600px) {
    .charts-row {
        flex-direction: column; /* Stack charts on smaller screens */
    }

    .chart-container {
        margin: 10px 0; /* Add space between stacked charts */
        max-width: none; /* Remove max-width for stacked layout */
    }
}
