/* Footer general styles */
.footer {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    padding: 40px;
    text-align: center;
    width: 100%; /* Ensure footer takes full width */
}



/* Top section of the footer (before the line) */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.footer-logo h2 {
    margin: 0;
}

/* Links styling */
.footer-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Bottom section of the footer (after the line) */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Language select styling */
.footer-language select {
    padding: 5px;
    background-color: #203a43;
    color: white;
    border: none;
}

/* Copyright styling */
.footer-copyright {
    text-align: center;
    flex: 1;
}

/* Social media icons styling */
.footer-socials a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.footer-socials a:hover {
    color: #ccc;
}
