/* Specific styles for landing page */
.landing-nav {  
    color: black; /* Text and icons color */
    display: flex;
    justify-content: space-between; /* Center the header content */
    padding-left: 40px;
    padding-right: 40px;
    align-items: center; /* Vertically center the items */
    background-color: #ffffff; /* Background color for header */
    width: 100vw; /* Full viewport width */
    position: relative; /* Allows for absolute positioning of child elements */
    z-index: 10; /* Ensure header is above other content */
}

/* Specific styles for all other pages */
.other-pages-nav {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white; /* White text */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
}

.logo {
    height: 50px; 
}

.dashboard-link {
    text-decoration: none; 
    color: #000; 
}

.dashboard-title {
    font-size: 24px; 
}

.page-name {
    font-size: 24px; 
    margin-right: 600px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    margin-left: 15px; /* Space between icons */
    text-decoration: none; 
    color: #000; /* Default color */
}

.icon {
    font-size: 20px;
}

.sign-in-button {
    color: #007BFF;
    text-decoration: none;
    margin-left: 20px; /* Space between icons and sign-in button */
}



.other-pages-nav .dashboard-link,
.other-pages-nav .icon-link,
.other-pages-nav .page-name {
    color: white; /* White text for dashboard, page name, and icons */
}

/* Increased spacing between setting and notification icons */
.header-icons .icon-link + .icon-link {
    margin-left: 20px; 
}
